.right-sprite { 
	background: url("right-sprite.jpg");
	background-size: 544px 512px;
}

.right-sprite.spr-abkhazia-png { 
	background-position: -0px -0px; 
}

.right-sprite.spr-afghanistan-png { 
	background-position: -32px -0px; 
}

.right-sprite.spr-aland-png { 
	background-position: -64px -0px; 
}

.right-sprite.spr-albania-png { 
	background-position: -96px -0px; 
}

.right-sprite.spr-algeria-png { 
	background-position: -128px -0px; 
}

.right-sprite.spr-american-samoa-png { 
	background-position: -160px -0px; 
}

.right-sprite.spr-andorra-png { 
	background-position: -192px -0px; 
}

.right-sprite.spr-angola-png { 
	background-position: -224px -0px; 
}

.right-sprite.spr-anguilla-png { 
	background-position: -256px -0px; 
}

.right-sprite.spr-antarctica-png { 
	background-position: -288px -0px; 
}

.right-sprite.spr-antigua-and-barbuda-png { 
	background-position: -320px -0px; 
}

.right-sprite.spr-argentina-png { 
	background-position: -352px -0px; 
}

.right-sprite.spr-armenia-png { 
	background-position: -384px -0px; 
}

.right-sprite.spr-aruba-png { 
	background-position: -416px -0px; 
}

.right-sprite.spr-australia-png { 
	background-position: -448px -0px; 
}

.right-sprite.spr-austria-png { 
	background-position: -480px -0px; 
}

.right-sprite.spr-azerbaijan-png { 
	background-position: -512px -0px; 
}

.right-sprite.spr-bahamas-png { 
	background-position: -0px -32px; 
}

.right-sprite.spr-bahrain-png { 
	background-position: -32px -32px; 
}

.right-sprite.spr-bangladesh-png { 
	background-position: -64px -32px; 
}

.right-sprite.spr-barbados-png { 
	background-position: -96px -32px; 
}

.right-sprite.spr-basque-country-png { 
	background-position: -128px -32px; 
}

.right-sprite.spr-belarus-png { 
	background-position: -160px -32px; 
}

.right-sprite.spr-belgium-png { 
	background-position: -192px -32px; 
}

.right-sprite.spr-belize-png { 
	background-position: -224px -32px; 
}

.right-sprite.spr-benin-png { 
	background-position: -256px -32px; 
}

.right-sprite.spr-bermuda-png { 
	background-position: -288px -32px; 
}

.right-sprite.spr-bhutan-png { 
	background-position: -320px -32px; 
}

.right-sprite.spr-bolivia-png { 
	background-position: -352px -32px; 
}

.right-sprite.spr-bosnia-and-herzegovina-png { 
	background-position: -384px -32px; 
}

.right-sprite.spr-botswana-png { 
	background-position: -416px -32px; 
}

.right-sprite.spr-brazil-png { 
	background-position: -448px -32px; 
}

.right-sprite.spr-british-antarctic-territory-png { 
	background-position: -480px -32px; 
}

.right-sprite.spr-british-virgin-islands-png { 
	background-position: -512px -32px; 
}

.right-sprite.spr-brunei-png { 
	background-position: -0px -64px; 
}

.right-sprite.spr-bulgaria-png { 
	background-position: -32px -64px; 
}

.right-sprite.spr-burkina-faso-png { 
	background-position: -64px -64px; 
}

.right-sprite.spr-burundi-png { 
	background-position: -96px -64px; 
}

.right-sprite.spr-cambodia-png { 
	background-position: -128px -64px; 
}

.right-sprite.spr-cameroon-png { 
	background-position: -160px -64px; 
}

.right-sprite.spr-canada-png { 
	background-position: -192px -64px; 
}

.right-sprite.spr-canary-islands-png { 
	background-position: -224px -64px; 
}

.right-sprite.spr-cape-verde-png { 
	background-position: -256px -64px; 
}

.right-sprite.spr-cayman-islands-png { 
	background-position: -288px -64px; 
}

.right-sprite.spr-central-african-republic-png { 
	background-position: -320px -64px; 
}

.right-sprite.spr-chad-png { 
	background-position: -352px -64px; 
}

.right-sprite.spr-chile-png { 
	background-position: -384px -64px; 
}

.right-sprite.spr-china-png { 
	background-position: -416px -64px; 
}

.right-sprite.spr-christmas-island-png { 
	background-position: -448px -64px; 
}

.right-sprite.spr-cocos-keeling-islands-png { 
	background-position: -480px -64px; 
}

.right-sprite.spr-colombia-png { 
	background-position: -512px -64px; 
}

.right-sprite.spr-commonwealth-png { 
	background-position: -0px -96px; 
}

.right-sprite.spr-comoros-png { 
	background-position: -32px -96px; 
}

.right-sprite.spr-cook-islands-png { 
	background-position: -64px -96px; 
}

.right-sprite.spr-costa-rica-png { 
	background-position: -96px -96px; 
}

.right-sprite.spr-cote-divoire-png { 
	background-position: -128px -96px; 
}

.right-sprite.spr-croatia-png { 
	background-position: -160px -96px; 
}

.right-sprite.spr-cuba-png { 
	background-position: -192px -96px; 
}

.right-sprite.spr-curacao-png { 
	background-position: -224px -96px; 
}

.right-sprite.spr-cyprus-png { 
	background-position: -256px -96px; 
}

.right-sprite.spr-czech-republic-png { 
	background-position: -288px -96px; 
}

.right-sprite.spr-democratic-republic-of-the-congo-png { 
	background-position: -320px -96px; 
}

.right-sprite.spr-denmark-png { 
	background-position: -352px -96px; 
}

.right-sprite.spr-djibouti-png { 
	background-position: -384px -96px; 
}

.right-sprite.spr-dominica-png { 
	background-position: -416px -96px; 
}

.right-sprite.spr-dominican-republic-png { 
	background-position: -448px -96px; 
}

.right-sprite.spr-east-timor-png { 
	background-position: -480px -96px; 
}

.right-sprite.spr-ecuador-png { 
	background-position: -512px -96px; 
}

.right-sprite.spr-egypt-png { 
	background-position: -0px -128px; 
}

.right-sprite.spr-el-salvador-png { 
	background-position: -32px -128px; 
}

.right-sprite.spr-england-png { 
	background-position: -64px -128px; 
}

.right-sprite.spr-equatorial-guinea-png { 
	background-position: -96px -128px; 
}

.right-sprite.spr-eritrea-png { 
	background-position: -128px -128px; 
}

.right-sprite.spr-estonia-png { 
	background-position: -160px -128px; 
}

.right-sprite.spr-ethiopia-png { 
	background-position: -192px -128px; 
}

.right-sprite.spr-european-union-png { 
	background-position: -224px -128px; 
}

.right-sprite.spr-falkland-islands-png { 
	background-position: -256px -128px; 
}

.right-sprite.spr-faroes-png { 
	background-position: -288px -128px; 
}

.right-sprite.spr-fiji-png { 
	background-position: -320px -128px; 
}

.right-sprite.spr-finland-png { 
	background-position: -352px -128px; 
}

.right-sprite.spr-france-png { 
	background-position: -384px -128px; 
}

.right-sprite.spr-french-polynesia-png { 
	background-position: -416px -128px; 
}

.right-sprite.spr-french-southern-territories-png { 
	background-position: -448px -128px; 
}

.right-sprite.spr-gabon-png { 
	background-position: -480px -128px; 
}

.right-sprite.spr-gambia-png { 
	background-position: -512px -128px; 
}

.right-sprite.spr-georgia-png { 
	background-position: -0px -160px; 
}

.right-sprite.spr-germany-png { 
	background-position: -32px -160px; 
}

.right-sprite.spr-ghana-png { 
	background-position: -64px -160px; 
}

.right-sprite.spr-gibraltar-png { 
	background-position: -96px -160px; 
}

.right-sprite.spr-gosquared-png { 
	background-position: -128px -160px; 
}

.right-sprite.spr-greece-png { 
	background-position: -160px -160px; 
}

.right-sprite.spr-greenland-png { 
	background-position: -192px -160px; 
}

.right-sprite.spr-grenada-png { 
	background-position: -224px -160px; 
}

.right-sprite.spr-guam-png { 
	background-position: -256px -160px; 
}

.right-sprite.spr-guatemala-png { 
	background-position: -288px -160px; 
}

.right-sprite.spr-guernsey-png { 
	background-position: -320px -160px; 
}

.right-sprite.spr-guinea-bissau-png { 
	background-position: -352px -160px; 
}

.right-sprite.spr-guinea-png { 
	background-position: -384px -160px; 
}

.right-sprite.spr-guyana-png { 
	background-position: -416px -160px; 
}

.right-sprite.spr-haiti-png { 
	background-position: -448px -160px; 
}

.right-sprite.spr-honduras-png { 
	background-position: -480px -160px; 
}

.right-sprite.spr-hong-kong-png { 
	background-position: -512px -160px; 
}

.right-sprite.spr-hungary-png { 
	background-position: -0px -192px; 
}

.right-sprite.spr-iceland-png { 
	background-position: -32px -192px; 
}

.right-sprite.spr-india-png { 
	background-position: -64px -192px; 
}

.right-sprite.spr-indonesia-png { 
	background-position: -96px -192px; 
}

.right-sprite.spr-iran-png { 
	background-position: -128px -192px; 
}

.right-sprite.spr-iraq-png { 
	background-position: -160px -192px; 
}

.right-sprite.spr-ireland-png { 
	background-position: -192px -192px; 
}

.right-sprite.spr-isle-of-man-png { 
	background-position: -224px -192px; 
}

.right-sprite.spr-israel-png { 
	background-position: -256px -192px; 
}

.right-sprite.spr-italy-png { 
	background-position: -288px -192px; 
}

.right-sprite.spr-jamaica-png { 
	background-position: -320px -192px; 
}

.right-sprite.spr-japan-png { 
	background-position: -352px -192px; 
}

.right-sprite.spr-jersey-png { 
	background-position: -384px -192px; 
}

.right-sprite.spr-jordan-png { 
	background-position: -416px -192px; 
}

.right-sprite.spr-kazakhstan-png { 
	background-position: -448px -192px; 
}

.right-sprite.spr-kenya-png { 
	background-position: -480px -192px; 
}

.right-sprite.spr-kiribati-png { 
	background-position: -512px -192px; 
}

.right-sprite.spr-kosovo-png { 
	background-position: -0px -224px; 
}

.right-sprite.spr-kuwait-png { 
	background-position: -32px -224px; 
}

.right-sprite.spr-kyrgyzstan-png { 
	background-position: -64px -224px; 
}

.right-sprite.spr-laos-png { 
	background-position: -96px -224px; 
}

.right-sprite.spr-latvia-png { 
	background-position: -128px -224px; 
}

.right-sprite.spr-lebanon-png { 
	background-position: -160px -224px; 
}

.right-sprite.spr-lesotho-png { 
	background-position: -192px -224px; 
}

.right-sprite.spr-liberia-png { 
	background-position: -224px -224px; 
}

.right-sprite.spr-libya-png { 
	background-position: -256px -224px; 
}

.right-sprite.spr-liechtenstein-png { 
	background-position: -288px -224px; 
}

.right-sprite.spr-lithuania-png { 
	background-position: -320px -224px; 
}

.right-sprite.spr-luxembourg-png { 
	background-position: -352px -224px; 
}

.right-sprite.spr-macau-png { 
	background-position: -384px -224px; 
}

.right-sprite.spr-macedonia-png { 
	background-position: -416px -224px; 
}

.right-sprite.spr-madagascar-png { 
	background-position: -448px -224px; 
}

.right-sprite.spr-malawi-png { 
	background-position: -480px -224px; 
}

.right-sprite.spr-malaysia-png { 
	background-position: -512px -224px; 
}

.right-sprite.spr-maldives-png { 
	background-position: -0px -256px; 
}

.right-sprite.spr-mali-png { 
	background-position: -32px -256px; 
}

.right-sprite.spr-malta-png { 
	background-position: -64px -256px; 
}

.right-sprite.spr-mars-png { 
	background-position: -96px -256px; 
}

.right-sprite.spr-marshall-islands-png { 
	background-position: -128px -256px; 
}

.right-sprite.spr-martinique-png { 
	background-position: -160px -256px; 
}

.right-sprite.spr-mauritania-png { 
	background-position: -192px -256px; 
}

.right-sprite.spr-mauritius-png { 
	background-position: -224px -256px; 
}

.right-sprite.spr-mayotte-png { 
	background-position: -256px -256px; 
}

.right-sprite.spr-mexico-png { 
	background-position: -288px -256px; 
}

.right-sprite.spr-micronesia-png { 
	background-position: -320px -256px; 
}

.right-sprite.spr-moldova-png { 
	background-position: -352px -256px; 
}

.right-sprite.spr-monaco-png { 
	background-position: -384px -256px; 
}

.right-sprite.spr-mongolia-png { 
	background-position: -416px -256px; 
}

.right-sprite.spr-montenegro-png { 
	background-position: -448px -256px; 
}

.right-sprite.spr-montserrat-png { 
	background-position: -480px -256px; 
}

.right-sprite.spr-morocco-png { 
	background-position: -512px -256px; 
}

.right-sprite.spr-mozambique-png { 
	background-position: -0px -288px; 
}

.right-sprite.spr-myanmar-png { 
	background-position: -32px -288px; 
}

.right-sprite.spr-nagorno-karabakh-png { 
	background-position: -64px -288px; 
}

.right-sprite.spr-namibia-png { 
	background-position: -96px -288px; 
}

.right-sprite.spr-nato-png { 
	background-position: -128px -288px; 
}

.right-sprite.spr-nauru-png { 
	background-position: -160px -288px; 
}

.right-sprite.spr-nepal-png { 
	background-position: -192px -288px; 
}

.right-sprite.spr-netherlands-antilles-png { 
	background-position: -224px -288px; 
}

.right-sprite.spr-netherlands-png { 
	background-position: -256px -288px; 
}

.right-sprite.spr-new-caledonia-png { 
	background-position: -288px -288px; 
}

.right-sprite.spr-new-zealand-png { 
	background-position: -320px -288px; 
}

.right-sprite.spr-nicaragua-png { 
	background-position: -352px -288px; 
}

.right-sprite.spr-niger-png { 
	background-position: -384px -288px; 
}

.right-sprite.spr-nigeria-png { 
	background-position: -416px -288px; 
}

.right-sprite.spr-niue-png { 
	background-position: -448px -288px; 
}

.right-sprite.spr-norfolk-island-png { 
	background-position: -480px -288px; 
}

.right-sprite.spr-north-korea-png { 
	background-position: -512px -288px; 
}

.right-sprite.spr-northern-cyprus-png { 
	background-position: -0px -320px; 
}

.right-sprite.spr-northern-mariana-islands-png { 
	background-position: -32px -320px; 
}

.right-sprite.spr-norway-png { 
	background-position: -64px -320px; 
}

.right-sprite.spr-olympics-png { 
	background-position: -96px -320px; 
}

.right-sprite.spr-oman-png { 
	background-position: -128px -320px; 
}

.right-sprite.spr-pakistan-png { 
	background-position: -160px -320px; 
}

.right-sprite.spr-palau-png { 
	background-position: -192px -320px; 
}

.right-sprite.spr-palestine-png { 
	background-position: -224px -320px; 
}

.right-sprite.spr-panama-png { 
	background-position: -256px -320px; 
}

.right-sprite.spr-papua-new-guinea-png { 
	background-position: -288px -320px; 
}

.right-sprite.spr-paraguay-png { 
	background-position: -320px -320px; 
}

.right-sprite.spr-peru-png { 
	background-position: -352px -320px; 
}

.right-sprite.spr-philippines-png { 
	background-position: -384px -320px; 
}

.right-sprite.spr-pitcairn-islands-png { 
	background-position: -416px -320px; 
}

.right-sprite.spr-poland-png { 
	background-position: -448px -320px; 
}

.right-sprite.spr-portugal-png { 
	background-position: -480px -320px; 
}

.right-sprite.spr-puerto-rico-png { 
	background-position: -512px -320px; 
}

.right-sprite.spr-qatar-png { 
	background-position: -0px -352px; 
}

.right-sprite.spr-red-cross-png { 
	background-position: -32px -352px; 
}

.right-sprite.spr-republic-of-the-congo-png { 
	background-position: -64px -352px; 
}

.right-sprite.spr-romania-png { 
	background-position: -96px -352px; 
}

.right-sprite.spr-russia-png { 
	background-position: -128px -352px; 
}

.right-sprite.spr-rwanda-png { 
	background-position: -160px -352px; 
}

.right-sprite.spr-saint-barthelemy-png { 
	background-position: -192px -352px; 
}

.right-sprite.spr-saint-helena-png { 
	background-position: -224px -352px; 
}

.right-sprite.spr-saint-kitts-and-nevis-png { 
	background-position: -256px -352px; 
}

.right-sprite.spr-saint-lucia-png { 
	background-position: -288px -352px; 
}

.right-sprite.spr-saint-martin-png { 
	background-position: -320px -352px; 
}

.right-sprite.spr-saint-vincent-and-the-grenadines-png { 
	background-position: -352px -352px; 
}

.right-sprite.spr-samoa-png { 
	background-position: -384px -352px; 
}

.right-sprite.spr-san-marino-png { 
	background-position: -416px -352px; 
}

.right-sprite.spr-sao-tome-and-principe-png { 
	background-position: -448px -352px; 
}

.right-sprite.spr-saudi-arabia-png { 
	background-position: -480px -352px; 
}

.right-sprite.spr-scotland-png { 
	background-position: -512px -352px; 
}

.right-sprite.spr-senegal-png { 
	background-position: -0px -384px; 
}

.right-sprite.spr-serbia-png { 
	background-position: -32px -384px; 
}

.right-sprite.spr-seychelles-png { 
	background-position: -64px -384px; 
}

.right-sprite.spr-sierra-leone-png { 
	background-position: -96px -384px; 
}

.right-sprite.spr-singapore-png { 
	background-position: -128px -384px; 
}

.right-sprite.spr-slovakia-png { 
	background-position: -160px -384px; 
}

.right-sprite.spr-slovenia-png { 
	background-position: -192px -384px; 
}

.right-sprite.spr-solomon-islands-png { 
	background-position: -224px -384px; 
}

.right-sprite.spr-somalia-png { 
	background-position: -256px -384px; 
}

.right-sprite.spr-somaliland-png { 
	background-position: -288px -384px; 
}

.right-sprite.spr-south-africa-png { 
	background-position: -320px -384px; 
}

.right-sprite.spr-south-georgia-and-the-south-sandwich-islands-png { 
	background-position: -352px -384px; 
}

.right-sprite.spr-south-korea-png { 
	background-position: -384px -384px; 
}

.right-sprite.spr-south-ossetia-png { 
	background-position: -416px -384px; 
}

.right-sprite.spr-south-sudan-png { 
	background-position: -448px -384px; 
}

.right-sprite.spr-spain-png { 
	background-position: -480px -384px; 
}

.right-sprite.spr-sri-lanka-png { 
	background-position: -512px -384px; 
}

.right-sprite.spr-sudan-png { 
	background-position: -0px -416px; 
}

.right-sprite.spr-suriname-png { 
	background-position: -32px -416px; 
}

.right-sprite.spr-swaziland-png { 
	background-position: -64px -416px; 
}

.right-sprite.spr-sweden-png { 
	background-position: -96px -416px; 
}

.right-sprite.spr-switzerland-png { 
	background-position: -128px -416px; 
}

.right-sprite.spr-syria-png { 
	background-position: -160px -416px; 
}

.right-sprite.spr-taiwan-png { 
	background-position: -192px -416px; 
}

.right-sprite.spr-tajikistan-png { 
	background-position: -224px -416px; 
}

.right-sprite.spr-tanzania-png { 
	background-position: -256px -416px; 
}

.right-sprite.spr-thailand-png { 
	background-position: -288px -416px; 
}

.right-sprite.spr-togo-png { 
	background-position: -320px -416px; 
}

.right-sprite.spr-tokelau-png { 
	background-position: -352px -416px; 
}

.right-sprite.spr-tonga-png { 
	background-position: -384px -416px; 
}

.right-sprite.spr-trinidad-and-tobago-png { 
	background-position: -416px -416px; 
}

.right-sprite.spr-tunisia-png { 
	background-position: -448px -416px; 
}

.right-sprite.spr-turkey-png { 
	background-position: -480px -416px; 
}

.right-sprite.spr-turkmenistan-png { 
	background-position: -512px -416px; 
}

.right-sprite.spr-turks-and-caicos-islands-png { 
	background-position: -0px -448px; 
}

.right-sprite.spr-tuvalu-png { 
	background-position: -32px -448px; 
}

.right-sprite.spr-uganda-png { 
	background-position: -64px -448px; 
}

.right-sprite.spr-ukraine-png { 
	background-position: -96px -448px; 
}

.right-sprite.spr-united-arab-emirates-png { 
	background-position: -128px -448px; 
}

.right-sprite.spr-united-kingdom-png { 
	background-position: -160px -448px; 
}

.right-sprite.spr-united-nations-png { 
	background-position: -192px -448px; 
}

.right-sprite.spr-united-states-png { 
	background-position: -224px -448px; 
}

.right-sprite.spr-unknown-png { 
	background-position: -256px -448px; 
}

.right-sprite.spr-uruguay-png { 
	background-position: -288px -448px; 
}

.right-sprite.spr-us-virgin-islands-png { 
	background-position: -320px -448px; 
}

.right-sprite.spr-uzbekistan-png { 
	background-position: -352px -448px; 
}

.right-sprite.spr-vanuatu-png { 
	background-position: -384px -448px; 
}

.right-sprite.spr-vatican-city-png { 
	background-position: -416px -448px; 
}

.right-sprite.spr-venezuela-png { 
	background-position: -448px -448px; 
}

.right-sprite.spr-vietnam-png { 
	background-position: -480px -448px; 
}

.right-sprite.spr-wales-png { 
	background-position: -512px -448px; 
}

.right-sprite.spr-wallis-and-futuna-png { 
	background-position: -0px -480px; 
}

.right-sprite.spr-western-sahara-png { 
	background-position: -32px -480px; 
}

.right-sprite.spr-yemen-png { 
	background-position: -64px -480px; 
}

.right-sprite.spr-zambia-png { 
	background-position: -96px -480px; 
}

.right-sprite.spr-zimbabwe-png { 
	background-position: -128px -480px; 
}